p {
  margin: 0;
}

.image-container {
  display: flex;
  flex: content;
  justify-content: center;
  align-items: center;
  background-image: url(image.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 403px;
  margin: auto;
  background-size: cover;
  margin-top: 96px;
}
.text-overlay {
  display: flex;
  flex-direction: column;
  color: #ffff;
  margin: auto;
  line-height: 83px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 72px;
}
.text-overlay1 {
  display: flex;
  flex-direction: column;
  color: #007765;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 75px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 64px;
}
.text-overlay2 {
  color: #000000;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 32px;
  max-width: 1100px;
}

.The_Problem {
  background-color: #eeeeee;
  padding: 14px 0 115px;
  margin: 0;
}
.image-container_Hero {
  display: flex;
  flex: content;
  justify-content: center;
  align-items: center;
  background-image: url(Hero.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 483px;
  margin: auto;
  background-size: cover;
}
.text-overlay3 {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 48px;
  min-height: 228px;
  width: 893px;
}
.Introducing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.Introducing1 {
  align-self: stretch;
  color: #007765;
  margin: auto;
  padding-top: 48px;
  line-height: 75px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 64px;
}

.text-overlay4 {
  display: flex;
  justify-content: center;
  color: #000000;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 32px;
  max-width: 1100px;
  gap: 48px;
  padding-top: 16px;
}

.text-overlay5 {
  color: #000000;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 32px;
  max-width: 1110px;
  padding-top: 40px;
  padding-bottom: 90px;
}
.team {
  color: #007765;
  margin: auto;
  padding-top: 58px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 64px;

  background-color: #eeeeee;
}
.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  padding-bottom: 84px;
}

.row {
  display: flex;
}
.cell {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 56px 106px 26px;
  text-align: left;
}

.team1 {
  display: flex;
  justify-content: center;
  color: #007765;
  margin: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding-top: 12px;
}
.team2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  margin: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.trademarks {
  display: flex;
  flex: content;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  min-height: 176px;
}

.trademarks_text {
  color: #ffff;
  margin: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  max-width: 540px;
}
.PiedPiper_head {
  display: flex;
  flex: content;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  background-color: #007765;
  min-height: 84px;
  position: fixed;
}

.PiedPiper_text {
  display: flex;
  color: #ffffff;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  max-width: 1100px;
  gap: 502px;
}
.PiedPiper_text1 {
  display: flex;
  flex: content;
  align-items: center;
}

a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
  text-decoration: none;
  color: #ffffff;
}
